@page "/newArticle" 
@inject IArticleService _articleService

<div class="row">
    <h1>New Article</h1>
</div>

<div class="row">
    <div class="col-md">
        <EditForm Model="VM" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="title" class="form-label">Title</label>                
                <input type="text" class="form-control" id="title" @bind-value="VM.Title">
            </div>

            <div class="form-group">
                <BlazoredTextEditor @ref="@QuillHtml">
                    <ToolbarContent>
                        <select class="ql-header">
                            <option selected=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                        </select>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                        </span>
                    </ToolbarContent>
                    <EditorContent></EditorContent>
                </BlazoredTextEditor>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>


@code {

    public NewArticleViewModel VM { get; set; } = new NewArticleViewModel();

    BlazoredTextEditor QuillHtml;

    private async Task HandleValidSubmit()
    {
        VM.Content = await QuillHtml.GetHTML();

        if (string.IsNullOrEmpty(VM.Content)) 
        {
            return;
        }

        await _articleService.CreateArticleAsync(VM);

    }
}
